html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	text-align: center;
	background-color:bg-light;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 10%;
  overflow-x: hidden;
  padding-top: 20px;
}


.b{


  border: 7px solid #ddd;
  padding: 50px;
  margin: 20px;
  height:80%
}






/* Style the image inside the centered container, if needed */

div.leftSide{
position: absolute;
left:80%;
right: 25px;
width : 200px;

}

.highlighted{

  	background-color:red;
  	border-radius: 20%;

}


modal:nth-of-type(even) {
    z-index: 1052 !important;
}
.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}


.selection {
  width: 100%;
  min-width: 15ch;
  max-width: 37.5ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: grey;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.selection1 {
  width: 100%;
  min-width: 15ch;
  max-width: 31ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: grey;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.toast{
	z-index:1056;
}
