
<!DOCTYPE html>
<html lan="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="snippets.html :: name_head"></head>
<body>

<nav th:replace="snippets.html :: name_navbar"></nav>
<header>
    <div class="toast align-items-center text-white border border-danger"
         style="position: fixed; background-color: rgb(196, 0, 0); z-index: 1056; top: 10px; right: 10px;"
         role="alert" aria-live="assertive" aria-atomic="true" id="EpicToast"></div>
    <div class="toast align-items-center text-white border border-success"
         style="position: fixed; background-color: rgb(0, 128, 0); z-index: 1056; top: 10px; right: 10px;"
         role="alert" aria-live="assertive" aria-atomic="true" id="EpicToast1"></div>

</header>

<div class = "container-fluid" style="position:absolute; top: 21%;  width:100%;">
<div class="custom-select" style="width:500px;">
    <label for="inputBinIdSearch" class="row-sm-2" style="position: absolute; top: 24%; right:48%;">
        <strong>Bin ID</strong> </label>
    <input type="text" class="form-control" name="bintId"
           id = "inputBinIdSearch" placeholder="Enter Bin ID"
           style="position: absolute; top: 23%; right:34%; width:190px;">
</div>

<div class="custom-select" style="width:500px;">
    <label for="inputGlobalSkuIdSearch" class="row-sm-2" style="position: absolute; top: 24%; right:24%;">
        <strong>Global SKU ID </strong></label>
    <input type="text" class="form-control" name="globalSkuId"
           id = "inputGlobalSkuIdSearch" placeholder="Enter Bin ID"
           style="position: absolute; top: 23%; right:10%; width:190px;">

</div>

<button type="button" class="btn btn-outline-primary mx-1" id="search"
        style="position: absolute; top: 23%; right:3%;">
    Search</button>
</div>

<div class="container-fluid px-5 mt-4 pt-3">
    <div>
        <h2 class="my-3">Bin</h2>
        <div>
            <button type="button" class="btn btn-sm btn-outline-primary mx-1"
                    data-toggle="modal" data-target="#add-bin-modal">
                Add Bins</button>
            <button type="button" class="btn btn-sm btn-outline-primary mx-1"
                    data-toggle="modal" data-target="#upload-bin-sku-modal">
                Upload Bin Sku</button>
            <button type="button" class="btn btn-sm btn-outline-dark mx-1"
                    onclick="location.reload()">Refresh</button>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="add-bin-modal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Bins</h5>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="bin-form">
                        <div class="col">
                            <label for="inputBinCount" class="col-sm-2 col-form-label" style="width:150px;">
                                <strong>Bin Count</strong></label>
                            <div class="col">
                                <input type="number" class="form-control" name="binCount"
                                       id="inputBinCount" placeholder="Enter Bin Count" min="1"
                                       value="1" step="1" ondrop="return false;"
                                       onpaste="return false;"
                                       onkeypress="return event.charCode>=48 && event.charCode<=57">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class=" close btn btn-outline-secondary"
                            data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-primary"
                            id="add-bin">Add</button>
                </div>
            </div>
        </div>
    </div>





    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-striped" id="bin-sku-table">
                <thead>
                <tr>
                    <th scope="col">Bin ID</th>
                    <th scope="col">Global SKU ID</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Action</th>

                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot id ="footer" style="display:none;">
                <tr>
                    <th scope="col">Bin ID</th>
                    <th scope="col">Global SKU ID</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Action</th>

                </tr>
                </tfoot>


            </table>


        </div>
    </div>



    <!-- Employee Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="edit-bin-sku-modal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Edit Bin Inventory</h5>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="bin-sku-edit-form">

                        <div class="form-group">
                            <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" name="qty"
                                       id="inputQuantity" placeholder="Enter Quantity" min="1"
                                       value="1" step="1" ondrop="return false;"
                                       onpaste="return false;"
                                       onkeypress="return event.charCode>=48 && event.charCode<=57">
                            </div>
                        </div>
                        <input type="hidden" name="id">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class=" close btn btn-outline-secondary"
                            data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-primary"
                            id="update-bin-sku">Update</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Employee Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog"
         id="upload-bin-sku-modal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload Bin Inventory</h5>
                </div>

                <div class="modal-body">
                    <form id="upload-bin-sku-form">
                        <div class="col">
                            <label for="inputClientId" class="col-sm-2 col-form-label" style="width:150px;">
                                <strong>Client Name</strong></label>
                            <div class="custom-select" style="width:500px;">
                                <select class="selection"id="inputClientId" name="clientId"></select>
                            </div>
                        </div>
                        <br>
                        <div class="col">
                            <div class="col">
                                <input type="file" class="form-control" id="employeeFile">
                            </div>
                        </div>
                    </form>



                    <a th:href="@{/ToyAssureCSV/binSkuCSV.csv}" target="_blank">Download
                        Sample</a>
                    <div id="row-box" style="display: none;">
                        <br> Rows: <span id="rowCount">0</span>, Processed: <span
                            id="processCount">0</span>, Errors: <span id="errorCount">0</span>
                    </div>
                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-sm btn-outline-warning mr-2"
                            id="download-errors" style="display: none;">Download
                        Errors</button>
                    <button type="button"
                            class="btn btn-sm btn-outline-secondary mr-2"
                            data-dismiss="modal" id="resetBox">Cancel</button>
                    <button type="button" class="btn btn-sm btn-outline-primary mr-2"
                            id="process-data">Upload</button>

                </div>
            </div>
        </div>
    </div>


</div>
<!-- Container end -->
<footer class="footer bg-light">
    Copyright Increff 2022
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"></script>
    <script th:src="@{/static/bin.js}"></script>
</footer>



</body>
</html>